8_Build/flows_raspberrypi.json
[{"id":"b0c01cf0.8af4e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f1db25d.89fa8e","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d0502fcf.f7ed4","type":"serial out","z":"b0c01cf0.8af4e","name":"Arduino","serial":"2f1db25d.89fa8e","x":1580,"y":320,"wires":[]},{"id":"6379bbbe.e81164","type":"serial in","z":"b0c01cf0.8af4e","name":"Arduino","serial":"2f1db25d.89fa8e","x":190,"y":760,"wires":[["cbc689e6.1e4c38"]]},{"id":"4c92e13a.00d77","type":"inject","z":"b0c01cf0.8af4e","name":"","topic":"","payload":"Echo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["d0502fcf.f7ed4"]]},{"id":"29d6fb80.e123b4","type":"inject","z":"b0c01cf0.8af4e","name":"Timer","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":320,"wires":[["2a7dbf40.9260e"]]},{"id":"2a7dbf40.9260e","type":"trigger","z":"b0c01cf0.8af4e","op1":"Temp","op2":"Noise","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"Sensor data querys","x":490,"y":320,"wires":[["d0502fcf.f7ed4"]]},{"id":"cbc689e6.1e4c38","type":"switch","z":"b0c01cf0.8af4e","name":"Message router","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LedOn","vt":"str"},{"t":"cont","v":"LedOff","vt":"str"},{"t":"cont","v":"AlarmOn","vt":"str"},{"t":"cont","v":"AlarmOff","vt":"str"},{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"Noise","vt":"str"},{"t":"cont","v":"ExcuseMe?","vt":"str"},{"t":"cont","v":"Alarm!","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":480,"y":760,"wires":[["ad20386d.8a96c8"],["2e23d072.1a3a3"],["72b32ff4.7cb23"],["54f7fd52.d4de54"],["f43db9c4.6364d8"],["f43db9c4.6364d8"],["a3315110.8b4ea"],["f5c5cddd.6a701"]]},{"id":"94883d7f.c2187","type":"exec","z":"b0c01cf0.8af4e","command":"sudo /projekti/webcam.sh","addpay":false,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Take picture","x":990,"y":860,"wires":[[],["22e3e6da.b8ef7a"],[]]},{"id":"f5c5cddd.6a701","type":"change","z":"b0c01cf0.8af4e","name":"Activate camera","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":860,"wires":[["94883d7f.c2187"]]},{"id":"6330edd.5353614","type":"rpi-gpio in","z":"b0c01cf0.8af4e","name":"Black button /toggle Alarm","pin":"38","intype":"up","debounce":"25","read":false,"x":250,"y":520,"wires":[["cc8279f9.5a5f98"]]},{"id":"2fc5354f.c7e81a","type":"rpi-gpio in","z":"b0c01cf0.8af4e","name":"Red Button/ toggleLed","pin":"40","intype":"up","debounce":"25","read":false,"x":240,"y":460,"wires":[["54bd057b.05b72c"]]},{"id":"54bd057b.05b72c","type":"trigger","z":"b0c01cf0.8af4e","op1":"LedStatus","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Led Status query","x":490,"y":460,"wires":[["d0502fcf.f7ed4"]]},{"id":"2750345c.3b095c","type":"comment","z":"b0c01cf0.8af4e","name":"Sensor data logging","info":"","x":270,"y":260,"wires":[]},{"id":"92350861.0af3f8","type":"comment","z":"b0c01cf0.8af4e","name":"Button operations","info":"","x":260,"y":400,"wires":[]},{"id":"cc8279f9.5a5f98","type":"trigger","z":"b0c01cf0.8af4e","op1":"AlarmStatus","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Led Status query","x":490,"y":520,"wires":[["d0502fcf.f7ed4"]]},{"id":"ad20386d.8a96c8","type":"change","z":"b0c01cf0.8af4e","name":"Toggle Led query","rules":[{"t":"change","p":"payload","pt":"msg","from":"LedOn","fromt":"str","to":"LedOff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[["48f1f375.0f6a9c","f43db9c4.6364d8"]]},{"id":"72b32ff4.7cb23","type":"change","z":"b0c01cf0.8af4e","name":"Toggle Alarm Query","rules":[{"t":"change","p":"payload","pt":"msg","from":"AlarmOn","fromt":"str","to":"AlarmReset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":700,"wires":[["48f1f375.0f6a9c","f43db9c4.6364d8"]]},{"id":"2e23d072.1a3a3","type":"change","z":"b0c01cf0.8af4e","name":"Toggle Led query","rules":[{"t":"change","p":"payload","pt":"msg","from":"LedOff","fromt":"str","to":"LedOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[["48f1f375.0f6a9c","f43db9c4.6364d8"]]},{"id":"54f7fd52.d4de54","type":"change","z":"b0c01cf0.8af4e","name":"Toggle Alarm Query","rules":[{"t":"change","p":"payload","pt":"msg","from":"AlarmOff","fromt":"str","to":"AlarmSet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":740,"wires":[["48f1f375.0f6a9c","f43db9c4.6364d8"]]},{"id":"48f1f375.0f6a9c","type":"delay","z":"b0c01cf0.8af4e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":620,"wires":[["d0502fcf.f7ed4"]]},{"id":"22e3e6da.b8ef7a","type":"trigger","z":"b0c01cf0.8af4e","op1":"PictureTaken","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Generate message","x":1210,"y":860,"wires":[["f43db9c4.6364d8"]]},{"id":"e7d13cca.f5cb8","type":"file","z":"b0c01cf0.8af4e","name":"Log Events","filename":"/home/projekti/log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1590,"y":680,"wires":[["a811a4f5.f2d7b8"]]},{"id":"19c94bd5.b27784","type":"csv","z":"b0c01cf0.8af4e","name":"Parser","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":1730,"y":800,"wires":[["e7d13cca.f5cb8","a811a4f5.f2d7b8"]]},{"id":"361f37de.47ffe8","type":"change","z":"b0c01cf0.8af4e","name":"","rules":[{"t":"move","p":"time","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":860,"wires":[["720c329c.b8b27c"]]},{"id":"f43db9c4.6364d8","type":"change","z":"b0c01cf0.8af4e","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":800,"wires":[["720c329c.b8b27c","361f37de.47ffe8"]]},{"id":"720c329c.b8b27c","type":"join","z":"b0c01cf0.8af4e","name":"joiner","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1590,"y":800,"wires":[["19c94bd5.b27784","a811a4f5.f2d7b8"]]},{"id":"9d4569e.292d598","type":"comment","z":"b0c01cf0.8af4e","name":"Data logging","info":"","x":1570,"y":600,"wires":[]},{"id":"d15614a0.865598","type":"comment","z":"b0c01cf0.8af4e","name":"Message formatting","info":"","x":1410,"y":740,"wires":[]},{"id":"a811a4f5.f2d7b8","type":"debug","z":"b0c01cf0.8af4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1820,"y":600,"wires":[]},{"id":"a3315110.8b4ea","type":"change","z":"b0c01cf0.8af4e","name":"Ping message","rules":[{"t":"change","p":"payload","pt":"msg","from":"ExcuseMe?","fromt":"str","to":"Ping","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":820,"wires":[["f43db9c4.6364d8"]]}]